body.light .puzzle__timer {
    background: #f7f6f5;
}

.puzzle__timer {
    padding: 2vmin;
}

.puzzle__timer h2 {
    margin-bottom: 1rem;
}

.puzzle__timer .puzzle__timer__toggles {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}